{% extends "layout.html" %}
{% block body %}
<header class="masthead" style="background-image: url('{{ url_for( 'static', filename='img/neo-bg.jpg')}}')">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
        <h1> {{params['blog_name']}} </h1>
        <span class="subheading">{{params['tagline']}}</span>
      </div>
    </div>
  </div>
</div>
    <div>
        <link href="{{url_for('static', filename = 'css/signin.css')}}" rel="stylesheet">
        <form class="form-signin">
  <img class="mb-4" src="{{ url_for( 'static', filename='img/login-icon.jpg')}}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only" >Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus >
  <label for="inputPassword" class="sr-only" >Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3" >
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>
    </div>
</header>

</html>

{% endblock %}