{% extends "layout.html" %}
{% block body %}
{% set fnam = 'img/' + params['login-image'] %}
{% set loginicon = 'img/' + params['login-icon'] %}
<header class="masthead" style="background-image: url('{{ url_for( 'static', filename=fnam)}}')">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
        <h1> {{params['blog_name']}} </h1>
        <span class="subheading">{{params['tagline']}}</span>
      </div>
    </div>
  </div>
</div>
</header>
  <link href="{{url_for('static', filename = 'css/signin.css')}}" rel="stylesheet">
  <body class="text-center" >
    <form class="form-signin" action="/dashboard"  method="post">
  <img class="mb-4" src="{{ url_for( 'static', filename=loginicon)}}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="uname" class="sr-only" >Email address</label>
  <input type="email" id="uname" name="username" class="form-control" placeholder="Email address" required autofocus >
  <label for="pass" class="sr-only" >Password</label>
  <input type="password" id="pass" name="password" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3" >
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; {{params['blog_name']}} 2017-2019</p>
</form>
</body>
</html>

{% endblock %}